/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


main {
  @apply h-screen flex flex-col;
}

audio::-webkit-media-controls-panel {
  background-color: #e5e7eb;
}
/* #100f14 */
audio {
  background-color: #e5e7eb;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.gallery-item {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item .overlay-content {
  text-align: center;
}

.fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.9); /* Прозрачный фон */
  z-index: 9999; /* Размещаем поверх всего остального */
  cursor: zoom-out; /* Курсор при наведении */
}

nextjs-portal {
  display: none;
}